.clock-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 18px;
    padding-right: 18px;
    width: 300px;
    border-radius: 6px;
}
.clock-heading{
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: bold;
}
.time{
     font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    color: rgb(122, 4, 4);
}